body{
    /* Đường dẫn đến hình ảnh bạn muốn sử dụng làm nền */
    background-image: url('./A78C55D9-F6AA-4151-A33B-4433402AF290.JPG');
    /* Đặt kích thước ảnh */
    background-size: cover;
    /* Đặt vị trí và cách hiển thị ảnh */
    background-position: center center;
    background-repeat: no-repeat;
    /* Thiết lập màu nền sẽ được sử dụng nếu ảnh không tải được hoặc không có sẵn */
    background-color: #f0f0f0;
    /* Thiết lập chiều cao để có thể thấy hình ảnh nếu nó không chiếm hết màn hình */
    place-items: center;
    display: grid;
    margin:0;
    width: 100vw;
    height: 100vh;
}

canvas{
    opacity: 0.6;
}

.container {
    display: block;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.container:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.container:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.random-number {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
    margin: auto;
}

h1 {
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 3em;
    font-weight: 900;
    line-height: 1;
    color: white;
}

h1:hover {
    animation-play-state: paused;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}